name: Deploy to S3

on:
  push:
    paths:
      - 'my-portfolio-project' # Specify the folder path you want to trigger the workflow for

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # Replace with your AWS region

      - name: Deploy to S3
        run: |
          aws s3 sync folder/path s3://portfolio-project-kiran --delete